:root {
  --table-bg: 0 0% 100%;
  --table-hover: 210 20% 96%;
  --table-header: 210 20% 96%;
  --table-border: 214 32% 91%;
}

.dark {
  --table-bg: 217 32% 17%;
  --table-hover: 217 32% 22%;
  --table-header: 217 42% 22%;
  --table-border: 217 19% 27%;
}
