:root {
  --sidebar: 0 0% 100%;
  --sidebar-foreground: 222.2 47.4% 11.2%;

  --sidebar-muted: 210 40% 96.1%;
  --sidebar-muted-foreground: 215.4 16.3% 46.9%;

  --sidebar-border: 214.3 31.8% 91.4%;

  --sidebar-accent: 210 40% 94%;
  --sidebar-accent-foreground: 222.2 47.4% 11.2%;

  --sidebar-destructive: 0 84.2% 60.2%;

  --sidebar-groupContent: 0 0% 95%;

  --sidebar-width: 6rem;
  --sidebar-width-icon: 4rem;
}

.dark {
  --sidebar: 222.2 47.4% 11.2%;
  --sidebar-foreground: 210 40% 98%;

  --sidebar-muted: 217.2 32.6% 17.5%;
  --sidebar-muted-foreground: 215 20.2% 65.1%;

  --sidebar-border: 217.2 32.6% 17.5%;

  --sidebar-accent: 217.2 32.6% 30%;
  --sidebar-accent-foreground: 210 40% 98%;

  --sidebar-destructive: 0 62.8% 55%;

  --sidebar-groupContent: 222.2 47.4% 15.2%;

  --sidebar-width: 6rem;
  --sidebar-width-icon: 4rem;
}
